@import "antd/dist/antd.css";

.site-layout .site-layout-background {
    background: #fff;
}

.window-dragable {
    -webkit-app-region: drag;
}

.ant-layout-header {
    height: 30px;
    line-height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

#content-header {
    background: none;
}

.ant-layout-footer {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #b6b3b3;
}

#main-content-box {
    margin: 30px 0;
}

#main-content-box::-webkit-scrollbar {
    width: 5px;
}

#main-content-box::-webkit-scrollbar-thumb {
    background: #b8b8b8;
    border-radius: 10px;
}

.footer-button-item {
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    height: 100%;
    color: #d3d3d3;
}

.footer-button-item svg {
    line-height: 100%;
}

.footer-button-item:hover {
    color: #808080;
}

.system-button-item {
    height: 100%;
}

.system-button-item svg {
    width: 40px;
    text-align: center;
    height: 100%;
    padding: 10px;
}

.system-button-item.info {
    color: #8ab3ca;
}

.system-button-item.danger {
    color: #f0a7a7;
}

.system-button-item.primary svg:hover {
    background: #d3d3d3;
}

.system-button-item.close svg:hover {
    background: red;
    color: #fff;
}

.footer-hint-text {
    font-size: 12px;
    margin: 0 15px;
}

.ant-layout-footer .text-button {
    line-height: 100%;
    padding: 0 5px;
    cursor: default;
}

.ant-layout-footer .text-button:hover {
    color: #808080;
}

.ant-tooltip-content .ant-tooltip-inner {
    font-size: 12px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
    background: none;
}

.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: #6886aa;
}

.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
    background: #4b5155;
}

.ant-tree-node-content-wrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

aside .ant-layout-sider-children {
    overflow-y: auto;
}

aside .ant-layout-sider-children::-webkit-scrollbar {
    width: 5px;
}

aside .ant-layout-sider-children::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    border-radius: 10px;
}

.easymark-sider-type {
    margin: 0 10px;
    padding-bottom: 3px;
    cursor: pointer;
}

.easymark-sider-type:hover {
    border-bottom: 3px solid #6c6c6c;
}

.easymark-sider-type.active {
    border-bottom: 3px solid #6886aa;
    color: #6886aa;
    font-weight: bold;
}

#main-content-box .ant-tabs-tab {
    margin-left: 0;
}

#main-content-box .ant-tabs-nav {
    margin-bottom: 0;
}

#main-content-box .ant-tabs-content {
    height: 100%;
}

.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
    font-size: 12px;
}

.ant-tabs-card.ant-tabs-small > .ant-tabs-nav .ant-tabs-tab {
    padding: 2px 10px;
}

.ant-tabs-tab-btn {
    color: #9b9b9b;
}

.ant-tabs-tab-btn:hover {
    color: #77a4da;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #75adf1;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    background: #f4f4f4;
}