.milkdown-menu-wrapper .milkdown {
    overflow: auto;
    height: calc(100vh - 3.5rem - 75px);
}

/* .milkdown-menu-wrapper {
    background: url('https://reference-1301046789.cos.ap-nanjing.myqcloud.com/cover/mountain.jpg') no-repeat;
    background-size: cover;
}

.milkdown-menu-wrapper .milkdown-menu {
    opacity: 0.8;
}

.milkdown {
    opacity: 0.8;
} */

.milkdown .ProseMirror {
    margin: 0 auto;
    max-width: 57.375rem;
}
div.milkdown {
    min-height: 100%;
}

div.milkdown .ProseMirror {
    padding: 1em 1.25em;
    min-height: 100%;
}

.milkdown-menu-wrapper .milkdown-menu {
    border: none;
}

.milkdown .easy-mark-blockquote {
    background: #eff5f8;
    padding: 10px 10px 10px 0.75em;
    border-radius: 0 5px 5px 0;
}

.milkdown .easy-mark-blockquote p {
    margin-bottom: 0;
}

.milkdown .easy-mark-codeinline {
    padding: 2px 0.5em;
    background-color: #89a6c5;
    border-radius: 5px;
    color: #f5f5f5;
}

.milkdown .tableWrapper table p.paragraph {
    line-height: 2em;
}

.milkdown .editor td {
    height: 2.25em;
}

.milkdown .heading {
    font-weight: bold;
}

.milkdown .heading::after {
    color: #c8d4e0;
    position: absolute;
    left: -5px;
    font-size: 14px;
    font-weight: bold;
}

.milkdown .easy-mark-h1::after {
    content: 'H1';
    padding-top: 15px;
}

.milkdown .easy-mark-h2::after {
    content: 'H2';
    padding-top: 10px;
}

.milkdown .easy-mark-h3::after {
    content: 'H3';
    padding-top: 8px;
}

.milkdown .easy-mark-h4::after {
    content: 'H4';
    padding-top: 6px;
}

.milkdown .easy-mark-h5::after {
    content: 'H5';
    padding-top: 2px;
}

.milkdown .easy-mark-h6::after {
    content: 'H6';
    padding-top: 0;
}