.milkdown-menu-wrapper .milkdown {
    overflow: auto;
    height: calc(100vh - 3.5rem - 75px);
}

.milkdown .editor {
    margin: 0 auto;
    max-width: 57.375rem;
}
div.milkdown {
    min-height: 100%;
}

div.milkdown .ProseMirror {
    padding: 1em 1.25em;
}

.milkdown-menu-wrapper .milkdown-menu {
    border: none;
}

.milkdown .editor p {
    margin: 0.5em 0;
    line-height: 2;
}

.milkdown .editor .heading {
    margin: 1em 0;
}

.milkdown .editor blockquote {
    background: rgba(189, 215, 266, .25);
}

blockquote.blockquote>p.paragraph {
    padding: 10px 0;
}